* {
    margin: 0px;
    padding: 0px;
    background-size:auto;


}


body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    padding: 15px 35px;
    color: #FFF;
    text-align: right;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.header {

    background-color: #FFF8F3;
    background-image: url('./images/banner1.png');
    width: 1600px;
    height: 808px;
    background-repeat: no-repeat;
    background-size: auto;



}

.banner-content {
    max-width: 525px;
    text-align: right;


}

.banner {
    margin-left: 845px;
    padding-top: 216px;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: bottom left; */

}

.banner-greeting{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    width: 525px;
   

}

.banner-greeting,.p-tag
{
  margin-bottom: 24px;
}




main  {
    margin-top: 130px;
    background: #FFF;

}

.checkbox-none
{
    color: #444343;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.middle-section{

    display: flex;
    gap: 50px;

}

.sideclass
{

    margin-left:200px;
    padding-top: 256px;
  

}


.person
{
    
   margin-left: 228px;
   border-radius: 50%;
   position: relative;
   background-color:lightpink;
   
   


}

.h-tag
{
    width: 288px;
    color: #151414;
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}

.pp-tag{

    margin-bottom: 24px;


}

.section-title {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.skill-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;

}

.skill-description {
    color: #757575;
}

#what-i-do {
    padding: 30px 150px;
}

.kibria-vai
{

    margin-top:100px;
    margin-bottom: 100px;
    

}

.pic-container
{
    width: 1140px;
    height: 300px;
     
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100% );
    
}




.section
{
    background-image: url('./images/watch.png');
    background-repeat: no-repeat;
    
    width: 1140px;
    height: 300px;
    margin-left: 230px;
    padding-bottom: 100px;
   
    

}

.pic-title {

    
    color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
margin-left: 110px;
padding-top: 50px;


}
.section-tit
{
    text-align: center;
}


.button-pic {
    width: 160px;
    height: 64px;
    border: 0px;

   border-radius: 5px;
   background: #FFF;
   margin-left: 110px;

 
    
}
.button-picc
{
    width: 160px;
    height: 64px;
    border: 0px;

   border-radius: 5px;
   background: #FFF;
   text-align: left;
   text-align: center;

}


footer {
    display: flex;
    gap: 100px;
    background: #151414;
    box-shadow: 0px 0px 10px 5px rgb(239, 237, 242);
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column {

    width: 50%;


}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
.section-description {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
}

.section-title {
    color: #F8F8F8;
    font-size: 40px;
    font-weight: 700;
    justify-content: flex-start;
    text-align: left;
}
   

.btn-footer {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

