* {
    margin: 0px;
    padding: 0px;


}


body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    padding: 15px 35px;
    color: #FFF;
    text-align: right;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.header {

    background-color: #FFF8F3;
    background-image: url('../images/banner/banner1.png');
    width: 1600px;
    height: 808px;
    background-repeat: no-repeat;



}

.banner-content {
    max-width: 525px;
    text-align: right;


}

.banner {
    margin-left: 845px;
    padding-top: 216px;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: bottom left; */

}

.banner-greeting{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    width: 525px;
   

}

.banner-greeting,.p-tag
{
  margin-bottom: 24px;
}


main {
    width: 1600px;
    height: 808px;
}

main section {
    margin-top: 130px;
    background: #FFF;

}

.checkbox-none
{
    color: #444343;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.middle-section{

    display: flex;
    gap: 50px;

}

.sideclass
{

    margin-left:200px;
    padding-top: 256px;
  

}


.person
{
    width:451pxpx;
    height:700.29px;
    border-radius:527.929px;
   background: rgba(241, 91, 34, 0.20);
   margin-left: 228px;
}

.h-tag
{
    width: 288px;
    color: #151414;
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}

.pp-tag{

    margin-bottom: 24px;


}


